@font-face {
    font-family: 'Abel', sans-serif;
    src: url(../fonts/Abel/Abel-Regular.ttf);
}
@font-face {
    font-family: 'Anton', sans-serif;
    src: url(../fonts/Anton/Anton-Regular.ttf);
}
@font-face {
    font-family: 'Josefin Sans', sans-serif;
    src: url(../fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Lexend', sans-serif;
    src: url(../fonts/Lexend/Lexend-Regular.ttf);
}
@font-face {
    font-family: 'Livvic', sans-serif;
    src: url(../fonts/Livvic/Livvic-Regular.ttf);
}



